*{
    font-family: Helvetica , Arial, sans-sarif;
}

h1{
    color: khaki;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}

h2.Brushes{
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}
h2.frames{
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}
h2.paint{
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}
extended{
    color: blue;
    font-weight: bold;
}
p,
li{
    font-size: 18px;
}

a{
    text-decoration: none;
}
